/// Replace a string in a string.
///
/// @param {String} $string - String to search
/// @param {String} $search - String to locate
/// @param {String} $replace - Replacement for found string
/// @return {String} String with replaced values
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/// Split a string into an array.
///
/// @param {String} $input - Input string
/// @param {String} $seperator - String to split input
/// @return {Array} Array containing split parts of input string
@function str-split($input, $separator) {
  // empty array/list
  $split-arr: ();
  // first index of separator in string
  $index: str-index($input, $separator);
  // loop through string
  @while $index != null {
    // get the substring from the first character to the separator
    $item: str-slice($input, 1, $index - 1);
    // push item to array
    $split-arr: append($split-arr, $item);
    // remove item and separator from string
    $input: str-slice($input, $index + 1);
    // find new index of separator
    $index: str-index($input, $separator);
  }
  // add the remaining string to list (the last item)
  $split-arr: append($split-arr, $input);

  @return $split-arr;
}
