/// Smooth VW Sizing
///
/// @param {Array | String} $props - An array of properties or a single property string to apply vw sizing
/// @param {Number} $vw - vw size at site max width
/// @param {Number} $px | 'auto' - minimum pixel size, will be set to pixel equivalent at small query if not provided
/// @param {Number} $ceiling - maximum screen width for scaling
/// @output properties with vw sizing capped at site large query and small query
@mixin vw($props, $vw, $px:'auto', $ceiling: $site-vw-ceiling) {
  $min-width: query(s);
  $vw: strip-units($vw);
  @each $prop in $props {
    #{$prop}: #{$vw}vw;
  }
  @media (min-width: $site-vw-ceiling) {
    @each $prop in $props {
      #{$prop}: ($vw/100) * $site-vw-ceiling;
    }
  }
  @if $px == 'auto' {
    @media (max-width: $min-width) {
      @each $prop in $props {
        #{$prop}: ($vw/100) * $min-width;
      }
    }
  } @else {
    $px: strip-units($px);
    $min-width: $px / ($vw / 100);
    @media (max-width: #{$min-width}px) {
      @each $prop in $props {
        #{$prop}: #{$px}px;
      }
    }
  }
}

@mixin header-menu {
  ul.menu {
    margin: 0;
    padding: 0;

    a {
      display: inline-block;
      color: white;
      padding: var(--padding-s) var(--padding-xs);
      text-decoration: none;
      @include transition;

      @media (min-width: query(m)) {
        padding: var(--padding-xs);
      }

      &:hover {
        background: $hsppr-orange-light;
      }
    }

    .show-mobile & {
      a {
        padding: var(--padding-s);
      }
    }
  }
}

@mixin transition($prop: all) {
  transition: $prop $transition $easing;
}
