/// Remove units from a numerical value.
/// Used to convert from one unit to another
///
/// @param {Number} $input - Value with units
/// @return {Number} Value without units
/// @example strip-units(5px); // returns '5'
@function strip-units($input) {
  @if type-of($input) == 'number' and not unitless($input) {
    @return $input / ($input * 0 + 1);
  }
  @return $input;
}

/// Convert px to vw value at the given site width.
/// Typically used when converting from minimum values to flexible values at a given media query
///
/// @param {px} $input - Number to convert
/// @param {px} $input - Width at which to start conversion
/// @return {vw} Converted value in vw
/// @example px-to-vw(16px, 960px) // Converts 16px to vw units at 960px viewport width
/// @example
/// px-to-vw(16px, query(s)) // Converts 16px to vw units at 's' media query
@function px-to-vw($input, $width) {
  @return ((strip-units($input) / strip-units($width)) * 100) + 0vw;
}

/// Convert vw to px value at the given site width.
/// Typically used when converting from flexible values to maximum values at a given media query
///
/// @param {vw} $input - Number to convert
/// @param {px} $input - Width at which to convert
/// @return {px} Converted value in px
/// @example
@function vw-to-px($input, $width) {
  @return ((strip-units($input) / 100) * strip-units($width)) + 0px;
}

/// Create css variables for vw units,
/// and use queries to cap them with px values.
///
/// @param {Array} $array - Array of values where the key is the name of the variable, and its value is an array of the vw value and the minimum px size for the value
/// @param {String} $prefix [''] - Prefix to add to the variable names
/// @param {Number} $ceiling [null] - Maximum window width to trigger switch from vw to px units
///
/// @example
///   $vars-test: (
///     s: (vw: 1vw, px: 5px),
///     m: (vw: 2vw, px: 10px),
///     l: (vw: 4vw, px: 20px),
///   );
///   @include cappedVariables($vars-test, 'test');
///   padding: var(--test-m);
@mixin cappedVariables($array, $prefix:'', $ceiling:null) {

  @if str-length($prefix) > 0 {
    $prefix: $prefix + '-';
  }

  @each $key, $value in $array {
    $vw: map-get($value, vw);
    $vw-clean: strip-units($vw);
    $px: map-get($value, px);
    $px-clean: strip-units($px);

    // default vw value
    :root {
      --#{$prefix}#{$key}: #{$vw};
    }

    // if not using a percentage for max width
    // set a query to add a px ceiling for the value
    @if $ceiling and not str-index('' + $ceiling, '%') {
      @media (min-width: $ceiling) {
        :root {
          --#{$prefix}#{$key}: #{vw-to-px($vw, $ceiling)};
        }
      }
    }

    // set a query to add a px floor for the value
    @media (max-width: #{($px-clean / ($vw-clean / 100))}px) {
      :root {
        --#{$prefix}#{$key}: #{$px};
      }
    }
  }
}
