#block-hsppr-branding {
  width: 20vw;
  flex: 0 1 auto;
  min-width: 130px;
  max-width: 230px;

  @media (min-width: 375px) {
    min-width: 180px;
  }

  @media (min-width: 400px) {
    min-width: 200px;
  }

  svg {
    width: 100%;
    height: auto;
    max-height: 52px;
  }
}
