#header {
  background: $gray-lightest;
  position: relative;
  height: 85px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  @media (min-width: 380px) {
    height: auto;
  }

  > .region {
    padding-bottom: var(--padding-s);
    padding-top: var(--padding-s);
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-top: var(--padding-ms);
    padding-bottom: var(--padding-ms);

    @media (min-width: 430px) {
      padding-left: var(--padding-constrain);
      padding-right: var(--padding-constrain);
    }
  }
}
