#header-before {
  background: $hsppr-orange-dark;

  ul.menu {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  > .region {
    // @include constrain($site-w);
    // display: grid;
    // grid-template-columns: auto auto;
    display: flex;
    justify-content: space-between;

    // Constrained
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding-constrain);
    padding-right: var(--padding-constrain);
    display: flex;
    height: 100%;

    @media (max-width: 450px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
