.button-menu-mobile {
  // height: 100%;
  background: rgba(0,0,0,.05);
  border-radius: .25em;
  width: 42px;
  height: 42px;
  display: flex;
  text-align: center;
  font-size: 2em;
  color: $gray-dark;
  // border: 1px solid $hsppr-orange-dark;
  margin: auto 0;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: var(--padding-xs);
  // margin-top: -2.9em;
  margin-top: calc(var(--padding-ms) * -1 - 44px);
  justify-content: center;
  align-items: center;
  font-size: 1.5em;

  @media (min-width: 430px) {
    right: var(--padding-m);
  }

  @media (min-width: query(m)) {
    display: none;
  }
}

#react-main-menu {
  position: absolute !important;
  top: 100%;
  background: white;
  width: 100%;
  left: 0;
  flex: 1 0;

  @media (min-width: query(m)) {
    background: none;
    position: relative !important;
    width: auto;
    left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $gray-dark;
    // padding-left: var(--padding-xs);
    // padding-right: var(--padding-xs);
    padding: var(--padding-ms);
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;

    @media (min-width: query(m)) {
      padding: var(--padding-xs);
    }

    &.menu-item--button {
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      background-color: $hsppr-blue-100;
      color: white;
      border-radius: calc(var(--padding-xs) + 1em);
      border-width: .1em;
      border-style: solid;
      border-color: $hsppr-blue-100;
      line-height: 1;
      padding: var(--padding-xs) var(--padding-s);
      font-size: var(--font-p);
      font-weight: bold;
      transition: all $transition $easing;
      text-decoration: none;
      -webkit-appearance: none;
      text-transform: uppercase;
      letter-spacing: .1em;
      justify-content: center;
      border-radius: 0;
      padding: var(--padding-m);

      @media (min-width: query(m)) {
        padding: var(--padding-xs);
        border-radius: calc(var(--padding-xs) + 1em);
      }

      &:hover {
        background-color: $hsppr-blue-75;
        border-color: $hsppr-blue-75;
        color: white;
      }
    }
  }

  // Level 0
  > ul.menu {
    flex-flow: column;
    top: 0 !important;
    display: flex;
    border-top: 1px solid $gray-light;
    // max-height: calc(100vh - var(--header-height));
    // overflow: scroll;

    @media (min-width: query(m)) {
      border-top: 0;
      flex-flow: wrap row;
      justify-content: flex-end;
      align-items: center;
      // max-height: none;
      // overflow: visible;
    }

    &.closed {
      display: none;

      @media (min-width: query(m)) {
        display: flex;
      }
    }

    // Show Children
    li {
      &.menu-item--show-children {
        background: rgba(#f7f3ef, .5);

        > ul > li:first-of-type > a {
          margin-top: calc(var(--padding-s) * -1);

          @media (min-width: query(m)) {
            margin-top: auto;
          }
        }

        > a {
          color: $hsppr-orange-dark;
          border-bottom-color: transparent;
        }

        > ul.menu {
          opacity: 1;
          visibility: visible;
          height: auto;

          > li > a {
            color: $gray-dark;
            opacity: 1;
          }
        }
      }
    }

    > li {
      position: relative;
      height: 100%;

      @media (min-width: query(m)) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: var(--padding-s);
      }

      &:hover {
        > a {
          color: $hsppr-orange-dark;

          &.button,
          &.menu-cta,
          &.menu-item--button {
            color: $color-white;
          }
        }
      }

      &:last-of-type {
        @media (min-width: query(m)) {
          margin-right: 0;
        }
      }

      &.menu-item--expanded {
        &::after {
          content: none;
        }

        > a {

          // FA icon
          &::after {
            font-family: $fa;
            content: "\f078";
            border: 0;
            font-size: .6em;
            font-weight: 900;
            padding-left: 1em;
            position: relative;
            bottom: .25em;
          }
        }
      }

      &.elementor-hidden-desktop {
        @media (min-width: query(m)) {
          display: none;
        }
      }

      > a {
        border-bottom: 1px solid $gray-lighter;

        @media (min-width: query(m)) {
          border-bottom: 0;
        }
      }

      // Level 1
      > ul.menu {
        max-width: none;
        margin: 0;
        list-style-type: none;
        min-width: 11em;
        opacity: 0;
        visibility: hidden;
        height: 0;

        @media (min-width: query(m)) {
          background: white;
          width: auto;
          position: absolute;
          top: 100%;
          left: 0;
          box-shadow: 0 0 1em rgba(black, .15);
          height: auto;
        }

        > li {
          position: relative;

          &:hover {
            > ul.menu {
              display: block;
            }
          }

          &.menu-item--expanded {
            > a {
              position: relative;

              // FA icon
              &::after {
                font-family: $fa;
                content: "\f054";
                border: 0;
                font-size: .6em;
                font-weight: 900;
                position: absolute;
                right: var(--padding-xs);
                top: calc(50% - .5em);
              }
            }
          }

          &:last-of-type {
            a {
              border-bottom: 1px solid $gray-lighter;

              @media (min-width: query(m)) {
                border-bottom: none;
              }
            }
          }

          a {
            background: transparent;
            padding: var(--padding-s) var(--padding-xs);
            font-size: var(--font-small);
            // border-bottom: 1px solid $gray-lighter;
            transition:
              background .2s ease-in-out,
              color .2s ease-in-out,
              opacity .2s ease-in-out;
            color: transparent;
            opacity: 0;

            @media (min-width: query(m)) {
              border-bottom: 1px solid $gray-lighter;
              color: $gray-dark;
              text-align: left;
              padding: var(--padding-xxs) var(--padding-xs);
              opacity: 1;
            }

            &:hover {
              background: $gray-lighterest;

              @media (min-width: query(m)) {
                background: $gray-lightest;
              }
            }
          }

          // Level 2
          > ul.menu {
            background: white;
            box-shadow: 0 0 1em rgba(black, .15);
            // display: none;
            opacity: 0;
            visibility: hidden;

            @media (min-width: query(m)) {
              position: absolute;
              left: 100%;
              top: 0;
              min-width: 9em;
            }
          }
        }
      }
    }
  }
}
