// Button Classes

// Primary Button
%button,
.button,
button {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  background-color: $hsppr-blue-100;
  color: white;
  border-radius: calc(var(--padding-xs) + 1em);
  border-width: .1em;
  border-style: solid;
  border-color: $hsppr-blue-100;
  line-height: 1;
  padding: var(--padding-xs) var(--padding-s);
  font-size: var(--font-p);
  font-weight: bold;
  transition: all $transition $easing;
  text-decoration: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  letter-spacing: .1em;

  &:hover {
    background-color: $hsppr-blue-75;
    border-color: $hsppr-blue-75;
    color: white;
  }
}
