:root {
  --padding-none: 0; }

@media (min-width: 1320px) {
  :root {
    --padding-none: 0px; } }

@media (max-width: NaNpx) {
  :root {
    --padding-none: 0; } }

:root {
  --padding-xxxxs: 0.225vw; }

@media (min-width: 1320px) {
  :root {
    --padding-xxxxs: 2.97px; } }

@media (max-width: 888.88889px) {
  :root {
    --padding-xxxxs: 2px; } }

:root {
  --padding-xxxs: 0.45vw; }

@media (min-width: 1320px) {
  :root {
    --padding-xxxs: 5.94px; } }

@media (max-width: 666.66667px) {
  :root {
    --padding-xxxs: 3px; } }

:root {
  --padding-xxs: 0.75vw; }

@media (min-width: 1320px) {
  :root {
    --padding-xxs: 9.9px; } }

@media (max-width: 800px) {
  :root {
    --padding-xxs: 6px; } }

:root {
  --padding-xs: 1.125vw; }

@media (min-width: 1320px) {
  :root {
    --padding-xs: 14.85px; } }

@media (max-width: 800px) {
  :root {
    --padding-xs: 9px; } }

:root {
  --padding-s: 1.5vw; }

@media (min-width: 1320px) {
  :root {
    --padding-s: 19.8px; } }

@media (max-width: 800px) {
  :root {
    --padding-s: 12px; } }

:root {
  --padding-ms: 2.25vw; }

@media (min-width: 1320px) {
  :root {
    --padding-ms: 29.7px; } }

@media (max-width: 800px) {
  :root {
    --padding-ms: 18px; } }

:root {
  --padding-m: 3vw; }

@media (min-width: 1320px) {
  :root {
    --padding-m: 39.6px; } }

@media (max-width: 800px) {
  :root {
    --padding-m: 24px; } }

:root {
  --padding-ml: 3.75vw; }

@media (min-width: 1320px) {
  :root {
    --padding-ml: 49.5px; } }

@media (max-width: 800px) {
  :root {
    --padding-ml: 30px; } }

:root {
  --padding-l: 4.5vw; }

@media (min-width: 1320px) {
  :root {
    --padding-l: 59.4px; } }

@media (max-width: 800px) {
  :root {
    --padding-l: 36px; } }

:root {
  --padding-xl: 6vw; }

@media (min-width: 1320px) {
  :root {
    --padding-xl: 79.2px; } }

@media (max-width: 800px) {
  :root {
    --padding-xl: 48px; } }

:root {
  --padding-xxl: 7.5vw; }

@media (min-width: 1320px) {
  :root {
    --padding-xxl: 99px; } }

@media (max-width: 960px) {
  :root {
    --padding-xxl: 72px; } }

:root {
  --padding-xxxl: 18vw; }

@media (min-width: 1320px) {
  :root {
    --padding-xxxl: 237.6px; } }

@media (max-width: 800px) {
  :root {
    --padding-xxxl: 144px; } }

:root {
  --padding-constrain: 3vw; }

@media (min-width: 1320px) {
  :root {
    --padding-constrain: 39.6px; } }

@media (max-width: 800px) {
  :root {
    --padding-constrain: 24px; } }

:root {
  --padding-grid: 2.25vw; }

@media (min-width: 1320px) {
  :root {
    --padding-grid: 29.7px; } }

@media (max-width: 800px) {
  :root {
    --padding-grid: 18px; } }
