:root {
  --font-h1: 4.24242vw; }

@media (min-width: 1320px) {
  :root {
    --font-h1: 56px; } }

@media (max-width: 942.85714px) {
  :root {
    --font-h1: 40px; } }

:root {
  --font-h2: 3.63636vw; }

@media (min-width: 1320px) {
  :root {
    --font-h2: 48px; } }

@media (max-width: 770px) {
  :root {
    --font-h2: 28px; } }

:root {
  --font-h3: 3.0303vw; }

@media (min-width: 1320px) {
  :root {
    --font-h3: 40px; } }

@media (max-width: 792px) {
  :root {
    --font-h3: 24px; } }

:root {
  --font-h4: 2.72727vw; }

@media (min-width: 1320px) {
  :root {
    --font-h4: 36px; } }

@media (max-width: 733.33333px) {
  :root {
    --font-h4: 20px; } }

:root {
  --font-h5: 2.12121vw; }

@media (min-width: 1320px) {
  :root {
    --font-h5: 28px; } }

@media (max-width: 848.57143px) {
  :root {
    --font-h5: 18px; } }

:root {
  --font-h6: 1.21212vw; }

@media (min-width: 1320px) {
  :root {
    --font-h6: 16px; } }

@media (max-width: 1155px) {
  :root {
    --font-h6: 14px; } }

:root {
  --font-p: 1.21212vw; }

@media (min-width: 1320px) {
  :root {
    --font-p: 16px; } }

@media (max-width: 1155px) {
  :root {
    --font-p: 14px; } }

:root {
  --font-smallish: 1.15152vw; }

@media (min-width: 1320px) {
  :root {
    --font-smallish: 15.2px; } }

@media (max-width: 1215.78947px) {
  :root {
    --font-smallish: 14px; } }

:root {
  --font-small: 1.0303vw; }

@media (min-width: 1320px) {
  :root {
    --font-small: 13.6px; } }

@media (max-width: 1164.70588px) {
  :root {
    --font-small: 12px; } }

:root {
  --font-smaller: 0.90909vw; }

@media (min-width: 1320px) {
  :root {
    --font-smaller: 12px; } }

@media (max-width: 1210px) {
  :root {
    --font-smaller: 11px; } }

:root {
  --font-tiny: 0.60606vw; }

@media (min-width: 1320px) {
  :root {
    --font-tiny: 8px; } }

@media (max-width: 1650px) {
  :root {
    --font-tiny: 10px; } }
